useDynLib(FEAST, .registration=TRUE)

import(SC3)
import(TSCAN)
import(BiocParallel)
import(mclust)
import(Biobase)
import(limma)
import(knitr)
import(irlba)
import(ggpubr)
import(SingleCellExperiment)
importFrom("methods", "is")
importFrom("stats", "kmeans", "lm", "median", "model.matrix", "pf", "prcomp")
importFrom("utils", "combn", "setTxtProgressBar", "txtProgressBar")


export(
    FEAST,
    FEAST_fast,
    Consensus,
    cal_F2,
    SC3_Clust,
    TSCAN_Clust,
    cal_MSE,
    eval_Cluster,
    process_Y,
    Norm_Y,
    align_CellType,
    Visual_Rslt,
    Select_Model_short_SC3,
    Select_Model_short_TSCAN
)
